<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Local de Estocagem</title>
	<meta charset="utf-8"></meta>
	<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
	<link
		href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
		rel="stylesheet" id="bootstrap-css">

		<style>
			.etyle4{
			 margin: 10px 50px auto 50px;
		     width: 25%;
				}
				th{
				 color: #ffffff;	
				 font-family: Verdana, Arial, Helvetica;
				 font-size: 14px;
				 background-color: #007cc2;
				}
				
				td {
				 font-family: Verdana, Arial, Helvetica, sans-serif;

				 table-layout: fixed;
				 height: 10px;
				}
		</style>
</head>
<body>
	
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="">Gestão de Estoque</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li><a href="Home.html">Home</a></li>
	        <li><a href="cadastrarFornecedor.html">Fornecedor</a></li>
	        <li><a href="cadastrarMaterial.html">Material</a></li>
	        <li><a href="cadastroUnidade.html">Unidade</a></li>
	        <li class="active"><a href="localDeEstocagem.html">Local de estocagem</a></li>
	        <li><a href="cadastrarProjeto.html">Projeto</a></li>
	        <li><a href="AdmistrarProjetos.html">Administrar Projeto</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	

	<form class="form-horizontal" method="post">
		<fieldset>
			<div class="panel panel-primary">
				<div class="panel-heading">Local de estocagem</div>
				<div class="panel-body">
					<div class="form-group">

						<div id="newpost">
							<div class="form-group">
								<div class="col-md-2 control-label">
									<h3>Local de estocagem</h3>
								</div>
							</div>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label" for="vinculo">Codigo local:</label>
								<div class="col-md-2">
									<input id="codLocal" name="codLocal" placeholder="Codigo"
										class="form-control input-md" type="text">
								</div>
								<label class="col-md-1 control-label" for="Nome">Corredor:</label>
								<div class="col-md-2">
									<input id="corredor" name="corredor" placeholder="corredor"
										class="form-control input-md" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label" for="Estado Civil">Prateleira:</label>
								<div class="col-md-2">
									<input id="prateleira" name="prateleira"
										placeholder="prateleira" class="form-control input-md"
										type="text">
								</div>
								<label class="col-md-1 control-label" for="Estado Civil">Andar:</label>
								<div class="col-md-2">
									<input id="andar" name="andar" placeholder="Andar"
										class="form-control input-md" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label" for="Estado Civil">Box:</label>
								<div class="col-md-2">
									<input id="box" name="box" placeholder="Box"
										class="form-control input-md" type="text">
								</div>
							</div>
							<!-- Button (Double) -->
							<div class="form-group">
								<label class="col-md-2 control-label" for="Cadastrar"></label>
								<div class="col-md-8">
									<button id="Cadastrar" name="Cadastrar" class="btn btn-success"
										type="Submit">Cadastrar</button>
									<button id="Cancelar" name="Cancelar" class="btn btn-primary"
										type="Reset">Limpar</button>
									<button id="Cancelar" name="Cancelar" class="btn btn-danger"
										type="Reset">Cancelar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
	
</body>
</html>